:root {
  --red: #f00001;
  --grey: hsl(0, 0%, 65%);
}

header {
  background-image: url(../images/Question-Marks.jpeg);
  text-align: center;
  padding: 25px;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 65px;
  padding-bottom: 15px;
  color: black;
  text-shadow: 2px 2px cyan;
  font-weight: 900;
}

p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  color: black;
  text-shadow: 1px 1px cyan;
  font-size: 20px;
}

main {
  display: flex;
}

.game-space {
  width: 70%;
  height: 450px;
  background-color: var(--red);
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140px;
  padding: 15px;
  letter-spacing: 30px;
}

.stats {
  width: 30%;
}

.timer-button {
  height: 50%;
  background-color: var(--grey);
  border: 3px solid black;
  border-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.scoreboard {
  height: 50%;
  background-color: var(--grey);
  border: 3px solid black;
  border-left: 0px;
  border-top: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 50px;
}

button {
  background-color: cyan;
  padding: 5px;
  font-size: 40px;
  border-radius: 10px;
}

#timer {
  height: 75px;
  font-size: 75px;
}

footer {
  text-align: center;
  background-image: url(../images/Question-Marks.jpeg);
  height: 80px;
  padding: 20px;
  font-size: 35px;
  text-shadow: 2px 2px cyan;
}
